<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

	<script src="js/app.js"></script>
    <script src="cordova.js"></script>
  </head>
  <body ng-app="food" ng-controller="foodCtrl">
  <ion-side-menus>
    <!-- Center content -->
    <ion-header-bar class="bar-dark">
    <h1 class="title">Calorie Recorder</h1>
    </ion-header-bar>
    <ion-content>
      <!-- list and list items -->
      <ion-list >
        <ion-item ng-repeat="food in foods">
          {{food.name}}
		  {{food.calorie}}
        </ion-item>
      </ion-list>
	  <form ng-submit="createFood(food)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What food name?" ng-model="food.name">
			</label>
			<label class="item item-input">
			<input type="number" placeholder="What food calorie?" ng-model="food.calorie">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create food</button>
        </div>
      </form>
    </ion-content>
  </ion-side-menus>
 
</body>
</html>
